<!-- 
  Launch file for data collection
  - Data collection node for processing sensor data and global map
-->
<launch>
  <arg name="debug_mode" default="false" />

  <group ns="height_mapping">
    <!-- Load parameters -->
    <rosparam file="$(find height_mapping_data_collection)/config/params.yaml" command="load" subst_value="true" />

    <!-- Data Collection node -->
    <node pkg="height_mapping_data_collection" type="data_collection_node" name="data_collection_node" output="screen">
    </node>

    <!-- Use grid_map_visualization package for map visualization -->
    <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="log">
      <rosparam file="$(find height_mapping_data_collection)/config/visualization.yaml" />
    </node>

    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="$(anon rviz)" output="log"
      args="-d $(find height_mapping_data_collection)/launch/rviz/data_collection.rviz" />
  </group>

</launch>