<launch>
  <arg name="input_cloud" default="/velodyne_tilted/velodyne_points" />

  <include file="$(find height_mapping)/launch/height_mapping.launch">
    <arg name="input_cloud" value="$(arg input_cloud)" />
  </include>

  <!-- Global Mapping -->
  <node pkg="height_mapping" type="global_mapping_node" name="global_mapping"
    output="screen" />

</launch>