<!-- 
  Launch file for global mapping
  Parameters:
  - Use debug_mode:=true to publish debug information
-->
<launch>
  <arg name="use_sensor_processor" default="false" />
  <arg name="debug_mode" default="false" />

  <!-- Sensor Processing node -->
  <group if="$(arg use_sensor_processor)">
    <include file="$(find height_mapping)/launch/include/sensor_processor.launch.xml" />
  </group>

  <!-- Global mapping node -->
  <node pkg="height_mapping" type="global_mapping_node" name="global_mapping" output="screen">
    <rosparam file="$(find height_mapping)/config/global_mapping_params.yaml" command="load" subst_value="true" />
    <param name="node/debug_mode" value="$(arg debug_mode)" />
  </node>


</launch>