<launch>
  <arg name="input_cloud" default="/velodyne_tilted/velodyne_points" />

  <!-- Assign Parameters to Server -->
  <rosparam file="$(find height_mapping)/launch/config/params.yaml" command="load"
    subst_value="true" />

  <!-- Height Mapping -->
  <node pkg="height_mapping" type="height_mapping_node" name="height_mapping" output="screen">
    <param name="pointCloudTopic" value="$(arg input_cloud)" />
  </node>

  <node pkg="grid_map_visualization" type="grid_map_visualization"
    name="height_mapping_visualization" output="screen" />


</launch>