<!-- 
  Launch file for height mapping
  Parameters:
  - Use debug_mode:=true to publish debug information
-->
<launch>
  <arg name="use_sensor_processor" default="false" />
  <arg name="debug_mode" default="false" />

  <!-- Sensor Processing node -->
  <group if="$(arg use_sensor_processor)">
    <include file="$(find height_mapping)/launch/include/sensor_processor.launch.xml" />
  </group>

  <!-- Mapping node -->
  <node pkg="height_mapping" type="height_mapping_node" name="height_mapping" output="screen">
    <rosparam file="$(find height_mapping)/config/height_mapping_params.yaml" command="load" subst_value="true" />
    <param name="node/debug_mode" value="$(arg debug_mode)" />
  </node>

  <!-- Use grid_map_visualization package for map visualization -->
  <node pkg="grid_map_visualization" type="grid_map_visualization" name="height_mapping_vis" output="log">
    <rosparam file="$(find height_mapping)/config/map_visualization.yaml" />
  </node>

</launch>